.loading-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #70b9be;
}

.loading-title {
  font-size: 2rem;
  font-weight: 700;
}

.loader {
  margin-top: 2vh;
  width: 10rem;
  height: 0.8rem;
  background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
  animation: l1 0.5s infinite linear;
}

@keyframes l1 {
  100% {
    background-size: 100%;
  }
}
