* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter Variable";
}

a {
  text-decoration: none;
}

:root {
  --fontsize-regular: 1rem;
  --title: #042628;
  --text: rgb(167, 167, 167);
  --btn: #042628;
  --btn-text: #ffffff;
  --bg: #70b9be;
  --gray: #f1f5f5;
}

img {
  max-width: 100%;
}

h1 {
  padding-bottom: 2vh;
}

h2 {
  padding-bottom: 0.5vh;
}
.button-tags {
  font-size: var(--fontsize-regular);
  font-weight: 300;
  border: none;
  border-radius: 1rem;
  background-color: var(--gray);
  padding: 0.6rem 1rem;
}

.button-tags:active {
  color: var(--btn-text);
  background-color: var(--bg);
}

.button-tags:hover {
  color: var(--btn-text);
  background-color: var(--bg);
}
